<div class="jumbotron">
    <center>
        <h1>My Super Awesome Music on the World</h1>
        <img src="https://en-au.sennheiser.com/img/13686/x1_desktop_Dior-Homme-Banner-Sennhesier-Mobile.jpg" alt="Amazing music">
        <br>
        <%=link_to "Let's play some tracks", musics_path, class: "btn btn-warning" %>
    </center>
</div>